<app-navbar></app-navbar>

<main>
  <!-- <app-lorem-ipsum *ngFor="let index of [1,1,1,1,1,1]"></app-lorem-ipsum> -->
  <div class="img-wide">
    <img src="../../assets/images/download.jpg" alt="" class="img">  
  </div>
  <div class="img-wide">
    <img src="../../assets/images/images.jpg" alt="" class="img">
  </div>  
  <div class="img-wide">
    <img src="../../assets/images/stars-1772986_960_720.webp" alt="" class="img">
  </div>  
  <div class="img-tall">
    <img src="../../assets/images/hd-wallpaper-4662189_960_720.jpg" alt="" class="img">
  </div>
  <div class="img-tall">
    <img src="../../assets/images/scenic-3967628_960_720.webp" alt="" class="img">  
  </div>  


</main>